.table-responsive.overflow-auto.rounded-top.border{style: 'max-height: 520px; font-size: 14px;'}
  %table.table.table-striped.table-hover#dataTable{width: "100%", cellspacing: "0"}
    %thead.table-dark
      %tr
        %th ID
        %th Name
        %th Comics
        %th Actions
    %tbody
      - @categories.each do |category|
        %tr
          %td= category.id
          %td= category.name
          %td= category.comics.size
          %td.d-flex.gap-2
            = link_to edit_admin_category_path(category) do
              %i.fas.fa-edit
            = link_to admin_category_path(category), method: :delete, data: { confirm: 'Bạn có chắc chắn không?' } do
              %i.fas.fa-trash.text-danger
