= form_with model: [:admin, @comic], url: @comic.new_record? ? admin_comics_path : admin_comic_path(@comic.id) do |form|
  .col-12
    = form.label :title, class: 'form-label'
    = form.text_field :title, class: 'form-control'

  .col-12
    = form.label :author, class: 'form-label'
    = form.text_field :author, class: 'form-control'

  .col-12
    = form.label :description, class: 'form-label'
    = form.text_area :description, class: 'form-control'

  .col-12
    = form.label :category_id, class: 'form-label'
    = form.select :category_id, options_for_select(Category.all.map { |category| [category.name, category.id] }), {}, class: 'form-control'

  .col-12.mt-4
    = form.submit 'Save', class: 'btn btn-primary'
